.index-header-part-2{
    background-color: #033f5e;
    text-align: center;
    line-height: 2em;
}

.index-header-part-2 h1{
    color: #2a9d8f;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 0.05em;
    padding-top: 0.5em;
}

.index-header-part-2 p{
    margin: 0 auto;
    width: 80%;
    padding-top: 0.5em;
    font-size: 1.5em;
    color: white;
    font-weight: 300;
    line-height: 1.5em;
}

.index-header-part-2 a{
    display: inline-block;
    border: 1px solid white;
    border-radius: 0.3em;
    padding: 1em 2em;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

.index-header-part-2 a:hover{
    background-color: white;
    color: #2a9d8f;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5em 3em;
    display: flex;
    justify-content: space-evenly;
}

.content-section{
    display: inline-block;
    width: 30%;
}

.content-section h1{
    font-size: small;
    color: grey;
    padding-bottom: 1.5em;
}

.content-section a h4{
    color: #2a9d8f;
    font-size: larger;
    font-weight: 400;
    padding: 1.2em 0;
}

.content-section img{
    width: 100%;
    height: auto;
    border: 0px;
    border-radius: 0.5em;
}

.content-section p{
    color: grey;
    font-weight: 300;
}

@media(max-width: 700px){
    .content{
        flex-direction: column;
    }
    .content-section{
        width: 100%;
        margin: 2em 0;
    }
}