

@media(max-width: 1100px){
    .grid{
        width: 90%;
    }
}


.venue-theatre{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.theatre-info{
    display: inline-block;
    width: 20%;
    position: relative;
    top: 2em;
    line-height: 1.3em;
}

@media(max-width: 700px){
    .grid{
        width: 100%;
    }

    .venue-theatre{
        flex-direction: column;
    }

    .theatre-info{
        width: 90%;
        position: relative;
        top: -2em;
    }

    .map{
        width: fit-content;
    }
}

.theatre-info h2{
    line-height: 1.5em;
}

.map-display{
    display: inline-block;
}

.theatre-info a{
    display: inline-block;
    padding-top: 1em;
    color: #2a9d8f;
}

.theatre-info a:hover{
    color:#37dfcc;
}